<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CAS UAT_LPL Regression Suite">
<listeners>   
	  <listener class-name="utility.EmailableReporter"/>
      <listener class-name="utility.ExecutionListerner"/>
</listeners>
  <test name="CAS Regression_LPL_UAT">
      <classes>
      <class name="CAS_LPL_UAT.sourcing"/>
      <class name="CAS_LPL_UAT.DDE"/>
      <class name="CAS_LPL_UAT.Dedupe_update"/>
      <class name="CAS_LPL_UAT.Dedupe_Referral"/>
      <class name="CAS_LPL_UAT.DDEQC"/>
      <class name="CAS_LPL_UAT.FI_Initiation_four_checklist"/>
      <class name="CAS_LPL_UAT.FI_Verification_four_checklist"/>
      <class name="CAS_LPL_UAT.FI_Completion"/>
      <class name="CAS_LPL_UAT.Underwriting_LPL"/>
      <class name="CAS_LPL_UAT.PDOC"/>
      <class name="CAS_LPL_UAT.Disbursal_details"/>
      <class name="CAS_LPL_UAT.Disbursal_Initiation"/>
    </classes>
  </test>
</suite> <!-- Suite -->
